/* font-family: 'Khula', sans-serif;
font-family: 'Lato', sans-serif; 
font-family: 'Krona One', sans-serif;*/

.header-logo {
    margin-left: 77%;
    position: fixed;
}

body {
    background-color: #330000;
}

.header-shadow {
    background-image: url("https://i.ibb.co/1JktZdV/812superfast-bg.gif");
}

#intro {
    background-color: #330000;
    color: white;
}

.intro-image {
    height: 75vh;
    width: 100%;
}

.intro-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro-title {
    width: 100%;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    padding: 30px;
}

.intro-title h2 {
    font-size: 3em;
}

.intro-desc {
    padding: 50px;
    margin-bottom: 100px;
}
.intro-desc.container {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.consumptions {
    padding-bottom: 30px;
}

.col-title {
    color: rgb(150, 150, 150);
    padding-bottom: 10px;
    font-size: 2em;
    font-family: 'Krona One', sans-serif;
}

.consumptions h5{
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.collapse-btn {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    width: 100%;
}

.collapse-btn-wrapper {
    border-top: 2px solid white;
    width: 100%;
    padding: 10px;
}

.collapse-btn-extend {
    float: right;
}

#specs {
    padding: 100px;
    background-color: #420000;
}

#specs a:hover {
    color: white;
}

.my-card {
    background-color: #420000 !important;
    border: none !important;
}

.card-ul {
    background-color: #420000;
    text-decoration: none;
    list-style: none;
    color: white;
    width: 100%;
}

.card-ul .card-li {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 7px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: rgb(110, 110, 110);
}

.card-ul .card-li span {
    float: right;
    color: white;
    font-weight: 800;
}

